/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Asterisk selector to over-ride default browser settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Hind&family' , sans-serif;
}

/* Main Content */
main {
    /* make main take up extra space so that it pushes footer down */
    background-color: blueviolet;
    flex: 1 0 auto;
    /* keep playing with flex values -as not fully understanding what the shrink value is doing at 0 */
}

/* test fonts imported */
h1 {
    font-family: 'Montserrat', sans-serif;
}

/* Checking that css file is connected properly to html */
footer {
    background-color: aqua;
}