/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Asterisk selector to over-ride default browser settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* General styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Hind&family', sans-serif;
    color: #443850;
    background-color: #f2f7f2;
}

/* Using h1 for logo */
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
}

/* header */

header {
    background-color: #aecfdf;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 1px 2px #443850;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header>.nav-dropdown-label {
    color: #3d011d;
}

/* logo */
header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #3d011d;
    font-size: 2.5rem;
    letter-spacing: 1px;

}

header a {
    text-decoration: none;
    color: #3d011d;
}

/* nav bar styling */
#nav-list {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 115%;
}

nav li {
    margin-bottom: 0.5em;
}

.active {
    color: white;
}

/* style nav bar for dropdown */
nav {
    position: absolute;
    background-color: #aecfdf;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 2px 2px #443850;
    display: none;
    text-align: right;
    top: 100%;
}

/* Nav dropdown toggle copied from Love Running Code Inst Tutorial */
#nav-dropdown:checked~nav {
    display: block;
}

#nav-dropdown {
    display: none;
}

.nav-dropdown-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* make main take up extra space so that it pushes footer down */
    background-color: #f2f7f2;
    flex: 1 0 auto;
    margin-top: 48.5px;
}

/* index.html and courses.html hero section style */
.index-welcome-style {
    background-color: #bbbe64;
    z-index: 50;
    position: relative;
}

#welcome {
    height: 300px;
    background-image: url("../images/Index_hero-image_Tandhen.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#welcome-text {
    font-size: 6.5vmin;
    position: absolute;
    bottom: 1rem;
    padding-left: 1.5rem;
}

#intro-paragraph {
    padding: 1rem 1.5rem 20px 1.5rem;
}

.intro-paragraph {
    line-height: 1.25rem;
}

/* index why hens section */
#why-hens-flexbox-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#why-hens-title {
    background-color: #5171a5;
    border-radius: 50%;
    width: 145px;
    height: 145px;
    transform: translate(-25px, -25px);
}

#why-hens-title h3 {
    transform: translate(25px, 20px);
    line-height: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.75rem;
}

#brown-hen-image {
    width: 45%;
    height: auto;
    margin-top: 30px;
}

#hen-reasons {
    padding-left: 1.5rem;
    padding-right: 3rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transform: translateY(-8px);
    margin-bottom: 5px;
}

.reasons-title {
    font-family: 'Montserrat', sans-serif;
}

.reasons-list {
    list-style-type: none;
    margin-bottom: 1rem;
}

#egg-in-hand-img {
    width: 60%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 5px;
}

/* Gallery page content */
#photos img {
    width: 100%;
}

/* Courses page */
#learn-group-hero {
    height: 300px;
    width: 100%;
    background-image: url(../images/courses_hero_hens_garden.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
}

/* Contact page content */

/* background color change */
#main-contact {
    background-color: #bbbe64;
}

/* hero image for mobile */
#contact-img-mobile {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 50;
}

/* join a course title for mobile */
#join-title {
    background-color: #5171a5;
    border-radius: 50%;
    width: 145px;
    height: 145px;
    transform: translate(-20px, -25px);
    position: relative;
    z-index: 5;
}

#join-title > h3 {
    transform: translate(20px, 22px);
    line-height: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.75rem;
}

/* form content */
#join-form {
    padding:  0 2.5rem;
}

.text-input {
    border: 1px solid #443850;
    border-radius: 10px;
    margin: 5px 0 20px 0;
    padding: 2px 8px;
    height: 34px;
    width: 100%;
}

.radio-buttons > p {
    margin-bottom: 8px;
}

.radio-buttons > div {
    margin-bottom: 8px;
}

/* submit form button for contact page */
#submit-form-button {
    display: flex;
    justify-content: flex-end;
}

.submit-form-button {
    border-radius: 50%;
    background-color: #5171a5;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 100%;
    padding: 1.5rem 1.15rem;
    border-style: none;
    margin-bottom: 1rem;
    transform: translateY(-10px);
}


/* footer */
footer {
    background-color: #aecfdf;
}

#social-media {
    text-align: center;
    padding: 10px 0;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;
    list-style-type: none;
}

/* font awesome icons */
#social-media i {
    color: #3d011d;
}

/* media query for phones and tablets larger (576x and up) */
@media screen and (min-width: 576px) {

    /* Gallery photos to resize to two columns */
    #photos {
        column-count: 2;
        column-gap: 5px;
    }
}

/* media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0.5rem;
    }

    #nav-list {
        display: flex;
    }

    #nav-list>li {
        padding-left: 1.5rem;
    }

    .nav-dropdown-label {
        display: none;
    }

    /* index main */
    main {
        margin-top: 51.7px;
    }

    /* hero welcome section */
    #welcome {
        height: 400px;
    }

    #welcome-text {
        font-size: 6vmin;
        padding-left: 6rem;
    }

    #intro-paragraph {
        padding: 1rem 6.5rem 20px 6.5rem;
    }

    .intro-paragraph {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    /* why hens section */
    #why-hens-title {
        width: 210px;
        height: 210px;
        transform: translate(-45px, -55px);
    }

    #why-hens-title h3 {
        font-size: 1.75rem;
        transform: translate(25px, 20px);
        line-height: 2.25rem;
        padding-left: 3rem;
        padding-top: 3.6rem;
    }

    #hen-reasons {
        padding-left: 0;
        padding-right: 7rem;
        position: relative;
        z-index: 1;
        display: flex;
        transform: translateY(-140px);
       align-items: center;
    }

    .reasons-list {
        max-width: 55%;
    }

    .reasons-list>h4 {
        font-size: 1.5rem;
    }

    .reasons-list>p {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    #reasons-family {
        padding-top: 10px;
    }

    #reasons-eggs {
        padding-top: 10px;
    }

    #brown-hen-image {
        width: 30%;
        height: auto;
        margin-top: 35px;
    }

    #egg-in-hand-img {
        width: 40%;
        height: auto;
        transform: translateY(-80px);
        margin-bottom: 0;
        margin-top: 0;
    }

    /* Gallery photos to resize to three columns */
    #photos {
        column-count: 3;
    }

    /* Contact page content */

    /* background image */
    #main-contact {
        display: flex;
    }

    #join-a-course {
        flex-grow: 1;
    }
}

/* media query for laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    #nav-list a:hover {
        border-bottom: 1px solid #3d011d;
    }

    /* hero welcome section */
    #welcome {
        height: 600px;
    }

    /* why hens section */
    #why-hens-title {
        width: 260px;
        height: 260px;
        transform: translateY(-45px, -65px);
    }

    #why-hens-title h3 {
        font-size: 2.4rem;
        transform: translate(25px, 20px);
        line-height: 2.8rem;
        padding-left: 3rem;
        padding-top: 4.5rem;
    }

    #hen-reasons {
        transform: translate(-60px, -180px);
    }

    #egg-in-hand-img {
        width: 35%;
        height: auto;
    }

    /* Gallery photos to resize to four columns */
    #photos {
        column-count: 4;
    }

    #social-media i:hover {
        color: #ffffff;
    }
}