/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Asterisk selector to over-ride default browser settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* General styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Hind&family' , sans-serif;
    color: #443850;
    background-color: #f2f7f2;
}

/* Using h1 for logo - may need to be more targeted as content is added */
h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

/* header */

header {
    background-color: #aecfdf;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 4px #443850;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header > .nav-dropdown-label {
    color: #3d011d;
}

/* logo */
header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #3d011d;
    font-size: 2.5rem;
    letter-spacing: 1px;

}

header a {
    text-decoration: none;
    color: #3d011d;
}

/* nav bar styling */
#nav-list {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 115%;
}

nav li {
    margin-bottom: 0.5em;
}

.active {
    color: white;
}

/* style nav bar for dropdown */
nav {
    position: absolute;
    background-color: #aecfdf;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 2px 2px #443850;
    display: none;  
    text-align: right;
    top: 100%;
}

/* Nav dropdown toggle */
#nav-dropdown:checked~nav{
    display: block;
}

#nav-dropdown {
    display: none;
}

.nav-dropdown-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* make main take up extra space so that it pushes footer down */
    background-color: #f2f7f2;
    flex: 1 0 auto;
    /* keep playing with flex values -as not fully understanding what the shrink value is doing at 0 */
    margin-top: 48.5px;
}

/* hero section style - for mobile */
#index-welcome-style {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #bbbe64;
}

#welcome {
    height: 253px;
    width: 344px;
    background-image: url("../images/Index_hero-image_Tandhen.webp");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    display: flex;
    flex-direction: row;  
}

#welcome-text {
    font-size: 1.25rem;
    position: absolute;
    bottom: 20px;
    padding-left: 1rem;
}

#intro-paragraph {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
}

.intro-paragraph {
    line-height: 1.25rem;
}

/* footer */
footer {
    background-color: #aecfdf;
}

#social-media {
    text-align: center;
    padding: 10px 0;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;
    list-style-type: none;
}

/* font awesome icons */
#social-media i {
    color: #3d011d;
}

/* media query for tablets and larger (768px and up) */
@media screen  and (min-width: 768px) {
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0.5rem;
    }

    #nav-list {
        display: flex;
    }

    #nav-list > li {
        padding-left: 1.5rem;
    }

    .nav-dropdown-label {
        display: none;
    }

    /* main */
    main {
        margin-top: 51.7px;
    } 
}

/* media query for laptops and larger (992px and up) */
@media screen  and (min-width: 992px) {
    #nav-list a:hover {
        border-bottom: 1px solid #3d011d;
    }
    
    #social-media i:hover {
        color: #ffffff;
    }
}